{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="parent">
    <h1>Контакты</h1>
    <br>
    <h4>Телефон:</h4>
    <br>
    <h5>+7 (499) 261-09 95</h5>
    <h5>+7 (499) 263-66-27</h5>
    <br>
    <h4>Адрес:</h4>
    <br>
    <h5>105005, г. Москва, Бригадирский переулок, 14</h5>
    <h4>Время работы:</h4>
    <br>
    <h5>пн-пт с 8:00 до 20:00</h5>
    <h5>сб с 8:30 до 15:00</h5>
    <h5>вс выходной</h5>
</div>


{% endblock %}
