{% extends 'base.html' %}

{% block title %}
Личный кабинет пользователя
{% endblock %}

{% block style %}
/* внешние границы таблицы серого цвета толщиной 1px */
table {border: 1px solid grey;}
/* границы ячеек первого ряда таблицы */
th {border: 1px solid grey;}
/* границы ячеек тела таблицы */
td {border: 1px solid grey;}
body {
    margin: 0; /* Убираем отступы */
   }
   .parent {
    margin: 0.5%; /* Отступы вокруг элемента */
    padding: 10px; /* Поля вокруг текста */
   }
   .child {
    border: 3px solid #666; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
   }
{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="parent">
<a href="{{ url_for('user_space') }}">Вернуться в личный кабинет</a>
    </div>

<form method="POST">
    {{ form.csrf_token }}
    {{ form.name }}
    <input type="submit" value="Показать">




    <br>

<table>
  <colgroup>
    <col span="1" style="background-color:#e9edf5"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
    <col><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>

    {% if sch %}
    <tr>
    <th> </th>
    <th>Понедельник</th>
    <th>Вторник</th>
    <th>Среда</th>
    <th>Четверг</th>
    <th>Пятница</th>
    </tr>
    {% endif %}

{% for one in sch %}
    <tr>
        <th>{{ one.doc_time }}</th>
        {% if one.doc_mon == 0 %}
            <th><input name="monday" type="radio" value={{ one.doc_time }}></th>
        {% else %}
            <th> - </th>
        {% endif %}
        {% if one.doc_tue == 0 %}
            <th><input name="tuesday" type="radio" value={{ one.doc_time }}></th>
        {% else %}
            <th> - </th>
        {% endif %}
        {% if one.doc_wed == 0 %}
            <th><input name="wednesday" type="radio" value={{ one.doc_time }}></th>
        {% else %}
            <th> - </th>
        {% endif %}
        {% if one.doc_thu == 0 %}
            <th><input name="thursday" type="radio" value={{ one.doc_time }}></th>
        {% else %}
            <th> - </th>
        {% endif %}
        {% if one.doc_fri == 0 %}
            <th><input name="friday" type="radio" value={{ one.doc_time }}></th>
        {% else %}
            <th> - </th>
        {% endif %}

  </tr>
  {% endfor %}

</table>
    <br>
<button class="btn btn-lg btn-primary btn-block" type="submit">Записаться на приём</button>
    </form>
    </div>

{% endblock %}

