{% extends 'base.html' %}

{% block title %}
НОМТЦ МГТУ им. Баумана
{% endblock %}

{% block body %}
<!-- <a href="{{ url_for('main') }}">Main page</a> -->
 <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-9 nopadding">
                    <div class="header-image">
						<div class="header-text">
							<br>
							<h1 class="name1">Научно-образовательный медико-технологический центр</h1>
							<h2 class="name2">МГТУ им. Н. Э. Баумана</h2>
						</div>
					</div>
                </div>
				<div class="col-lg-3 nopadding">
                    <div class="header-block">
						<div class="padding20">
						<div class="info-htext">
							Контакты:
						</div>
						<div class="row">
							<div class="col-lg-12">
							<div class="phone">
								<i class="fa fa-phone" aria-hidden="true"></i> +7 (499) 261-09 95
							</div>
							</div>
							<div class="col-lg-12">
							<div class="phone">
								<i class="fa fa-phone" aria-hidden="true"></i> +7 (499) 263-66-27
							</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="address">
									<i class="fa fa-map-marker" aria-hidden="true"></i> 105005, г. Москва, Бригадирский переулок, 14
								</div>
								</div>
							</div>
							<div class="info-htext">
							Мы работаем:
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="worktime">
									пн-пт с 8:00 до 20:00<br/>

									сб    с 8:30 до 15:00<br/>

									вс    выходной<br/>

								</div>
							</div>
						</div>
						</div>
					</div>
						</div>
					</div>
                </div>
            </div>

        </div>


<div class="container marketing">




    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">



    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">О нас</h2>
        <p class="lead">2015 году решением Ученого совета МГТУ им. Н.Э Баумана был создан Научно-образовательный медико-технологический центр. На него помимо научно-образовательной деятельности , возложена задача полноценного медицинского обслуживания студентов и сотрудников Университета. Для большего удобства обслуживаемого контингента за каждым факультетом закреплен свой факультетский врач.
С 1 января 2017 года НОМТЦ осуществляет оказание медицинской помощи в обьеме территориальных гарантий ОМС г. Москвы (реестровый номер № 775271).</p>
      </div>
      <div class="col-md-5 order-md-1">
		  <img src="static/image/photo.jpg" align=”bottom” align="left" width="450" height="300">

      </div>
    </div>

	<!--
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">-->

    <!-- /END THE FEATURETTES -->

  </div>
{% endblock %}

